<nav class="navbar navbar-static-bottom navbar-default" role="navigation">
	<div class="container">
		<div class="navbar-collapse navbar-ex1-collapse" id="right-nav">
      <ul class="nav navbar-nav navbar-right">
       <li><%= link_to "About", about_path %></li>
      <li><a href="https://mixpanel.com/f/partner"><img src="//cdn.mxpnl.com/site_media/images/partner/badge_light.png" alt="Mobile Analytics" /></a></li>
    </ul>
   </div><!-- /.container -->
</nav>